name: create-release-web

on:
  push:
    tags:
      - '*'
  workflow_dispatch:
    inputs:
      tag:
        description: 'Optional tag (`<JDK_VERSION>-<CHROME_DRIVER_VERSION>`). Default to the tag of the selected branch.'
        required: false
        type: string


permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Log in to Docker Hub
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
        with:
          platforms: linux/amd64
          context: .
          file: ./Dockerfile
          push: true
          tags: tanin47/graalvm-chrome-driver:${{ github.event_name == 'workflow_dispatch' && github.event.inputs.tag || github.ref_name }}
